@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --white: #ffffff;
    --white-10: rgba(255, 255, 255, 0.1);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-90: rgba(255, 255, 255, 0.9);
    --black: #000000;
    --brand-primary: #000064;
    --button-primary-color: #000064;
    --secondary: #f8f8f8;
    --tertiary: #6afcef;
    --button: #f5dc3c;
    --button-alt: #f5c000;
    --title-text: #121d35;
    --title-text-75: rgba(18, 29, 53, 0.75);
    --para-text: #636370;
    --stroke: #efefef;
    --stroke-2: #dddddd;
    --stroke-3: #ead4d4;
    --primary-light: #f3f0fb;
    --red: #fb5421;
    --red-light: #ffe5e5;
    --red-rgb: 251, 84, 33;
    --green: #14d971;
    --btn-secondary: #d8d8d8;
    --sidebar-bg: #000064;
    --sidebar-divider: #6f40e0;
    --neutrals-100: #e8ebed;
    --success-100: #dcfce7;
    --success-500: #22c55e;
    --error-100: #fee2e2;
    --error-500: #ef4444;
    --warning-50: #fefce8;
    --neutrals-100: #e8ebed;
    --hold-text: #fe5dfe;
    --hold-bg: #fcdcfb;
    --refunded-text: #ef7744;
    --refunded-bg: #fef3e2;
    --gray-40: #9ca3af;
    --gray-50: #6b7280;
    --gray-90: #101827;
    --dark-90: #111317;
    --blue: #07076d;
    --blue-alt: #06068d;
    --form-label-text: #151515;
    --form-border: #e8e8e8;
    --secondary-bg: #fff0f0;
    --scroll-track: #efefef;
    --scroll-thumb: #dadada;
}

// Font Family
$poppins: "Poppins", sans-serif;
$inter: "Inter", sans-serif;
$nunito-sans: "Nunito Sans", sans-serif;
.font-family-nunitoSans {
    font-family: "Nunito Sans", sans-serif;
}
// Default
$section-bg: var(--brand-primary);
// Font Weight
$fw_thin: 100;
$fw_extraLight: 200;
$fw_light: 300;
$fw_regular: 400;
$fw_medium: 500;
$fw_semiBold: 600;
$fw_bold: 700;
$fw_extraBold: 800;
$fw_black: 900;
$fw_weight: 1000;
// Body
$body-bg: var(--secondary);
$body-text-color: var(--para-text);
// Color
$white: var(--white);
$white-10: var(--white-10);
$white-20: var(--white-20);
$white-90: var(--white-90);
$black: var(--black);
$brand-primary: var(--brand-primary);
$button-primary-color: var(--button-primary-color);
$secondary: var(--secondary);
$tertiary: var(--tertiary);
$button: var(--button);
$button-alt: var(--button-alt);
$title-text: var(--title-text);
$title-text-75: var(--title-text-75);
$para-text: var(--para-text);
$stroke: var(--stroke);
$stroke-2: var(--stroke-2);
$stroke-3: var(--stroke-3);
$primary-light: var(--primary-light);
$red: var(--red);
$red-light: var(--red-light);
$red-rgb: var(--red-rgb);
$green: var(--green);
$btn-secondary: var(--btn-secondary);
$sidebar-bg: var(--sidebar-bg);
$sidebar-divider: var(--sidebar-divider);
$success-100: var(--success-100);
$success-500: var(--success-500);
$error-100: var(--error-100);
$error-500: var(--error-500);
$warning-50: var(--warning-50);
$neutrals-100: var(--neutrals-100);
$hold-text: var(--hold-text);
$hold-bg: var(--hold-bg);
$refunded-text: var(--refunded-text);
$refunded-bg: var(--refunded-bg);
$gray-40: var(--gray-40);
$gray-50: var(--gray-50);
$gray-90: var(--gray-90);
$dark-90: var(--dark-90);
$blue: var(--blue);
$blue-alt: var(--blue-alt);
$form-label-text: var(--form-label-text);
$form-border: var(--form-border);
$secondary-bg: var(--secondary-bg);
$scroll-track: var(--scroll-track);
$scroll-thumb: var(--scroll-thumb);

// Fonts
@import "../component/font";
// Color
@import "../component/color";
// Padding
@import "../component/padding";
// Margin
@import "../component/margin";
// Gap
@import "../component/gap";
// Width
@import "../component/width";
// Hover
@import "../component/hover";
// Border
@import "../component/border";
// Component
@import "../component/component";
// Button
@import "../component/button";
// Sidebar
@import "../component/sidebar";
// Tab
@import "../component/zTabs";
// Modal
@import "../component/zModal";
// Table
@import "../component/zTable";
// From
@import "../zForm";
// Accordion
@import "../zAccordion";
// Authentication pages
@import "../component/authentication";

body {
    font-family: $bodyFont;
    background-color: $body-bg;
    color: $body-text-color;
}

iframe {
    width: 100%;
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0 !important;
}

p {
    margin: 0 !important;
}

a,
b,
div,
ul,
li {
    transition: $transition;
}

input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
select:focus,
select:hover {
    outline: none;
    box-shadow: none;
}
button,
button:hover,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
}
// img:not([draggable]),
embed,
object,
video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    outline: 0;
}

a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    outline: 0;
}

:focus {
    outline: none;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

button:focus {
    outline: none;
    box-shadow: none !important;
}

.btn.focus,
.btn:focus {
    border: 1px solid transparent;
}

.form-control:focus,
.btn.focus,
.btn:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
}

a:focus {
    outline: 0px solid;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0 none;
    color: var(--hover-color);
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: $section-bg;
    text-shadow: none;
}

::selection {
    background: $section-bg;
    text-shadow: none;
    color: #ffffff;
}

.container {
    max-width: toRem(1350);
}

/*-------------------------
scrollUp
--------------------------*/
#scrollUp {
    background: #000000;
    bottom: 20px;
    color: #ffffff;
    font-size: 20px;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    z-index: 1000;
    border-radius: 5px;
    &:hover {
        background: var(--hover-color);
    }
}

[data-background] {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* Main content */
.zSidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: toRem(250);
    background-color: $sidebar-bg;
    // padding: toRem(23) 0 toRem(30);
    z-index: 1001;
    transition: all 0.5s ease;
    @media screen and (max-width: 1023px) {
        left: calc(-1 * toRem(250));
    }
}
.zMainContent {
    position: relative;
    left: toRem(250);
    width: calc(100% - toRem(250));
    transition: all 0.5s ease;
    @media screen and (max-width: 1023px) {
        left: 0;
        width: 100%;
    }
    .main-header {
        position: relative;
        padding: toRem(16) toRem(30);
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        @media screen and (max-width: 575px) {
            padding: toRem(10);
        }
    }
}
// Mobile Menu
.mobileMenu {
    display: none;
    @media screen and (max-width: 1023px) {
        display: block;
    }
}
.zSidebar {
    .zSidebar {
        &-overlay {
            content: "";
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            background: rgb(0 0 0 / 50%);
            z-index: -1;
        }
        &-leftBar {
            position: absolute;
            left: 30px;
            top: 0;
            width: 1px;
            height: 100%;
            background-color: $stroke;
        }
    }
    &.menuClose {
        @media screen and (max-width: 1023px) {
            left: 0;
        }
        .zSidebar-overlay {
            opacity: 1;
            visibility: visible;
            width: calc(100% - toRem(250));
        }
    }
}
.zSidebar {
    &-overlay {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background: rgb(0 0 0 / 50%);
        z-index: 2;
        // &:has(~ .zSidebar.menuClose) {
        //   opacity: 1;
        //   visibility: visible;
        //   width: calc(100% - toRem(250));
        // }
    }
}

// Datatable
.tableTop {
    padding-bottom: toRem(20);
}
.tableBottom {
    padding-top: toRem(20);
}
.tableLengthInput {
    @media screen and (max-width: 575px) {
        float: none !important;
    }
    label {
        display: flex;
        align-items: center;
        gap: 13px;
        @include fontFamily(14, $fw_regular, 17, $brand-primary);
        @media screen and (max-width: 575px) {
            justify-content: center;
        }
    }
    select {
        border: toRem(1) solid var(--black-5) !important;
        border-radius: toRem(8) !important;
        background-color: var(--colorThree) !important;
        padding: toRem(11) toRem(15) !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        @include fontFamily(18, $fw_medium, 22, $brand-primary !important);
        text-align: center;
    }
}
.tableInfo {
    .dataTables_info {
        @include fontFamily(14, $fw_regular, 19, $para-text);
        padding-top: 0;
    }
}
.tablePagi {
    .paginate_button {
        padding: toRem(7) toRem(11) toRem(6) !important;
        color: $para-text !important;
        border: toRem(1) solid $stroke !important;
        border-radius: 50% !important;
        background: $white !important;
        width: toRem(36);
        height: toRem(36);
        font-size: toRem(12);
        font-weight: $fw_regular;
        line-height: 2 !important;
        margin-left: toRem(8) !important;
        &.current,
        &:hover {
            color: $white !important;
            background: $brand-primary !important;
            border-color: $brand-primary !important;
        }
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: $para-text !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    font-size: toRem(10) !important;
    color: $para-text !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    color: $white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    color: $white !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
}

/*-------------------------------------------
    Preloader Area Start
-------------------------------------------*/

// #preloader {
//   background-color: #fff;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 9999999999999999;
// }

// #preloader-status {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }

/*-------------------------------------------
    Preloader Area Start
-------------------------------------------*/
.count-item {
    &-one {
        .row {
            > div {
                @media screen and (min-width: 1200px) {
                    flex: 1 0 auto;
                }
                &:first-child {
                    .item {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        .item {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: -30%;
                transform: translateY(-50%);
                width: toRem(1);
                height: toRem(40);
                background-color: $stroke;
                @media screen and (max-width: 1650px) {
                    left: -20%;
                }
                @media screen and (max-width: 1350px) {
                    left: -15%;
                }
                @media screen and (max-width: 1300px) {
                    display: none;
                }
            }
        }
    }
}

// Multiselect
.sf-select-checkbox,
.sf-select-checkbox-search {
    ~ .btn-group {
        width: 100%;
    }
    &-btn {
        display: block;
        width: 100%;
        padding: toRem(12) toRem(16);
        font-size: toRem(14);
        font-weight: $fw_regular;
        line-height: toRem(20);
        color: $title-text;
        background-image: url(../images/icon/multi-select-dropdown-arrow.svg);
        background-size: toRem(24);
        background-color: $white;
        background-clip: padding-box;
        border: toRem(1) solid $form-border;
        border-radius: toRem(50);
        text-align: left !important;
        appearance: none;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &:focus,
        &:hover {
            border-color: $brand-primary;
            background-color: $white !important;
        }
        &:focus {
            color: $title-text !important;
        }
        ~ .multiselect-container {
            width: 100%;
            transform: translate(0, toRem(56));
            border-color: $stroke;
            border-radius: toRem(5);
            padding: toRem(15);
            box-shadow: toRem(0) toRem(4) toRem(6) toRem(0) rgba(0, 0, 0, 0.05);
            .multiselect {
                &-filter {
                    margin-bottom: 20px;
                }
                &-search {
                    border: toRem(1) solid $stroke !important;
                    border-radius: toRem(8) !important;
                    padding: toRem(9) toRem(9) toRem(9) toRem(45) !important;
                    font-size: toRem(14) !important;
                    font-weight: $fw_regular !important;
                    line-height: toRem(22) !important;
                    color: $title-text !important;
                    &:focus,
                    &:hover {
                        border: toRem(1) solid $brand-primary !important;
                        color: $para-text !important;
                        background-color: $white !important;
                        box-shadow: 0 0 0 rgb(0 0 0 / 0);
                    }
                    &::placeholder {
                        font-size: toRem(12) !important;
                        font-weight: $fw_regular !important;
                        color: $para-text !important;
                    }
                }
                &-group {
                    @include fontFamily(16, $fw_medium, 20, $title-text);
                    padding: toRem(20) toRem(10) toRem(11);
                    margin-top: toRem(10);
                    border-top: toRem(1) solid $stroke;
                    &:nth-child(2) {
                        margin-top: 0;
                        padding-top: 0;
                        border-top: none;
                    }
                    &:hover {
                        background-color: transparent !important;
                    }
                }
            }
            .multiselect-option {
                padding: 0;
                border-radius: 0;
                margin-bottom: toRem(7);
                &:last-child {
                    margin-bottom: 0;
                }
                .form-check {
                    padding: 0;
                    min-height: auto;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    gap: toRem(10);
                    input {
                        margin-left: 0;
                        width: toRem(18);
                        height: toRem(18);
                        margin-top: 0;
                        border-color: $stroke-2;
                        border-radius: 0;
                        &[type="radio"] {
                            border-radius: 50%;
                        }
                        &:checked {
                            border-color: $brand-primary;
                            background-color: $brand-primary;
                            // background-image: url(../images/icon/check-green.svg);
                            // background-size: toRem(7);
                            // background-position: center;
                        }
                        &[type="radio"] {
                            --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
                        }
                    }
                    label {
                        font-size: toRem(14);
                        font-weight: $fw_regular;
                        line-height: toRem(28);
                        color: $para-text;
                    }
                }
                &:hover,
                &.active,
                &:focus,
                &:not(.multiselect-active-item-fallback):active {
                    background-color: transparent !important;
                }
            }
        }
    }
}
