.footer {
    &-section {
        padding: toRem(234) 0 toRem(15);
        background-color: $brand-primary;
        .topArea {
            padding-bottom: toRem(90);
            @media screen and (max-width: 767px) {
                padding-bottom: toRem(40);
            }
        }
        .middleArea {
            padding-bottom: toRem(52);
        }
    }
    &-title {
        @include fontFamily(24, $fw_bold, 34, $white);
        padding-bottom: toRem(30);
        @media screen and (max-width: 575px) {
            padding-bottom: toRem(13);
        }
    }
    &-info {
        @include fontFamily(16, $fw_regular, 28, $white-90);
        max-width: 315px;
    }
    &-menu {
        li {
            padding-bottom: toRem(16);
            &:last-child {
                padding-bottom: 0;
            }
            a {
                position: relative;
                display: inline-block;
                @include fontFamily(16, $fw_regular, 28, $white-90);
                transition: all 0.3s;
                &:hover {
                    color: $button !important;
                }
            }
        }
    }
    &-contact-item {
        display: inline-flex;
        align-items: center;
        gap: toRem(10);
        @include fontFamily(18, $fw_bold, 34, $white !important);
        svg {
            path {
                stroke: $white;
            }
        }
        @media screen and (max-width: 575px) {
            .icon {
                max-width: toRem(20);
            }
            width: 100%;
            justify-content: center;
            font-size: toRem(14) !important;
        }
    }
    &-logo {
        display: flex;
        max-width: toRem(196);
        @media screen and (max-width: 767px) {
            margin: 0 auto;
            justify-content: center;
        }
    }
    &-copywrite {
        @include fontFamily(18, $fw_medium, 28, $white);
        @media screen and (max-width: 767px) {
            text-align: center;
        }
        .link {
            color: $button;
        }
    }
    &-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: toRem(40);
        height: toRem(40);
        border: toRem(1) solid $white-10;
        border-radius: 50%;
        background-color: $white;
        transition: all 0.3s;
        svg {
            path {
                fill: $title-text;
            }
        }
        &:hover {
            background-color: $button;
            // border-color: $button;
        }
    }
    &-bottomArea {
        padding: 22px 0px 20px;
        border-top: 1px solid $white-20;
    }
}
